.menu1, .menu2, .menu3{
  display: flex;
  flex-direction: row; 
}

.menu1 button, .menu2 button, .menu3 button{
  margin-right: 10px;
}

#tahuPrice{
    margin-left: 5px;
}
#risolPrice{
    margin-left: 5px;
}
#cakwePrice{
    margin-left: 5px;
}

#upgrades button{
    margin-bottom: 10px;
}

#tahuBulat {
	cursor: pointer;
}

#gambar {
	display: none;
	margin-left: 230px;
	margin-top: 18px;
	position: fixed;
}

#gambar img {
	width: 150px;
	height: auto;
}